<form [formGroup]="survey" novalidate (ngSubmit)="onSubmit(survey)">
  <input type="text" placeholder="lotissement" formControlName="lotissement">
  <input type="text" placeholder="commune" formControlName="commune">
  <input type="text" placeholder="section" formControlName="section">
  <hr>
  <!---Survey Section -->
  <div formArrayName="parcelles">
    <div class="section-container" *ngFor="let parcelle of getParcelles(survey); let i = index">
      <div class="ui raised segments" [formGroupName]="i">
        <h4 class="ui header">Parcelle Detail</h4>
        <input type="text" placeholder="numeroTitreFoncier" formControlName="natureJuridique">
        <input type="text" placeholder="numeroTitreFoncier" formControlName="numeroTitreFoncier">
        <input type="text" placeholder="numeroTitreFoncier" formControlName="lienReglementCopropriete">
        <input id="fileTxt" type="file" (change)="upload($event.target.files, i)">
        <!-- Question segment -->
        <!---Survey Section -->
        <hr>
        <div class="question-container" formArrayName="geom">
          <div [formGroupName]="j" *ngFor="let coord of getGeom(parcelle); let j = index">
            <input type="text" placeholder="x" formControlName="x">
            <input type="text" placeholder="y" formControlName="y">

            <div *ngIf="survey.errors" class="alert alert-danger">
              {{ survey.errors }}
            </div>
            <span *ngIf="getGeom(parcelle).length >= 1" (click)="removeGeom(i)">Remove Coord</span>
            <hr>
            <!-- Option Addation -->
          </div>
        </div>
        <a (click)="addGeom(i)">Add Question...</a>
        <!-- End Question -->

      </div><br>
      <span *ngIf="getParcelles(survey).length > 1" (click)="removeParcelles(i)">Remove Parcelle</span>
    </div>
  </div>
  <!-- End Section -->
  <span (click)="addParcelle()" class="point">Add Parcelle </span>
  <button class="btn btn-primary mr-1">Sauvegarder</button>
</form>

<pre> {{survey.value | json}} </pre>
 <hr>

<form [formGroup]="cicForm" novalidate (ngSubmit)="onSubmit(cicForm)">
  <hr>
  <!---Survey Section -->
  <div formArrayName="nicad">
    <div class="section-container" *ngFor="let nicad of getNicad(cicForm); let i = index">
      <div class="ui raised segments" [formGroupName]="i">
        <h4 class="ui header">Nicad code</h4>
        <input type="text" placeholder="Code region" formControlName="region">
        <input type="text" placeholder="Code Departement" formControlName="departement">
        <input type="text" placeholder="Code arrondissement" formControlName="arrondissement">
        <input type="text" placeholder="Code commune" formControlName="commune">
        <input type="text" placeholder="Code section" formControlName="section">
        <input type="text" placeholder="Numero parcelle" formControlName="parcelle">
        <!-- Question segment -->
        <!---Survey Section -->
        <hr>
        <!-- End Question -->

      </div><br>
      <span *ngIf="getNicad(cicForm).length > 1" (click)="removeNicad(i)">Remove Code Nicad</span>
    </div>
  </div>
  <!-- End Section -->
  <span (click)="addNicad()" class="point">Add Nicad code </span>
  <button class="btn btn-primary mr-1">Sauvegarder</button>
</form>

<pre> {{cicForm.value | json}} </pre>

<hr>
<form [formGroup]="authForm" novalidate (ngSubmit)="onSubmit(authForm)">
  <div>
    <div class="section-container">
      <div class="ui raised segments">
        <h4 class="ui header">Authentification d'un Nicad</h4>
        <input type="text" placeholder="Code region" formControlName="region">
        <input type="text" placeholder="Code Departement" formControlName="departement">
        <input type="text" placeholder="Code arrondissement" formControlName="arrondissement">
        <input type="text" placeholder="Code commune" formControlName="commune">
        <input type="text" placeholder="Code section" formControlName="section">
        <input type="text" placeholder="Numero parcelle" formControlName="parcelle">
        <!-- Question segment -->
        <!---Survey Section -->

      </div>
    </div>
  </div>
  <button class="btn btn-primary mr-1">Sauvegarder</button>
</form>

<pre> {{authForm.value | json}} </pre>
